.choice-container {
  display: flex;
  margin-bottom: .5rem;
  width: 100%;
  font-size: 1.8rem;
  border: .1rem solid rgb(126, 87, 194, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: default;  
  box-shadow: 0 .4rem .4rem 0 rgba(126, 87, 194, 0.1);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #7e57c2;
  color: white;
}

.choice-text {
  cursor: pointer;
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

.correct > .choice-text,
.incorrect > .choice-text {
  color: #fff;
  font-weight: 700;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
  margin-bottom: 0;
}

#progressBar {
  width: 100%;
  height: 0.7rem;
  border: 0.1rem solid #7e57c2;
  margin-bottom: 5rem;
}

#progressBarFull{
  height: 0.5rem;
  background-color: #7e57c2;
  width: 0%;
}